<div class="customer">
  <p>
    <%= link_to 'edit', edit_customer_path(customer) %> 
    <%= link_to 'x', customer, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>

  <h2><%= link_to customer.full_name, customer %></h2>
  <span><%= image_tag customer.image %></span>
  
  <p> 
    <b>Phone: </b><%= customer.phone_number %>
  </p>

  <% if customer.email_address.present? %>
    <p>
      <b>Email: </b><%= customer.email_address %>
    </p>
  <% end %>
  
  <% if customer.province_id.present? %>
  <p>
    <b>Province: </b><%= customer.province.name %>
  </p>
  <% else %>
  <p>
    <b>Province: </b>None
  </p>
  <% end %>

  <p>
    <b>Notes: </b><%= customer.notes %>
  </p>
</div>